
#vik-debug-box{
	position: fixed;
	display: none;
	z-index: 1000001;
	top: 0px;
	left: 0%;
	width: 100%;
	background-color: white;
	border-bottom: solid 1px #BFC6CB;
	font-family: sans-serif;
}
#vik-debug-head{
	background-color: #CCD3D9;
	padding: 2px 5px;
	text-align: center;
	overflow: hidden;
}
#vik-debug-title{
	margin-top: 1px;
	font-size: 14px;
	font-weight: bold;
}
#vik-debug-pre-wrapper{
	border-left: solid 4px #CCD3D9;
	border-right: solid 4px #CCD3D9;
}
#vik-debug-wrapper{
	background-color: #F3F5FB;
	border: solid 1px #BFC6CB;
	overflow: auto;
}
.vik-debug-body{
	padding: 5px 10px;
	white-space:pre-wrap;
	font-family: monospace;
	font-size: 12px;
	color: black;
}
.vik-debug-body-item{
	padding: 5px 0px 10px;
	border-bottom: solid 5px #E3E5EA;
}
.vik-debug-body-item-options{
	padding: 2px 0px;
	text-align: right;
}
.vik-debug-body-item-options>*{
	padding: 0 3px;
}
.vik-debug-body-item-options-date{
	font-size: 10px;
	color: #AAA;
}
.vik-debug-body-item-stack{
	display: none;
	padding: 5px 10px;
	margin: 5px 0;
	font-size: 11px;
	background-color: #FEFEFE;
	border-left: solid 2px #d17f7f;
}
#vik-debug-tab-box{
	background-color: #CCD3D9;
	padding: 3px 10px;
}
#vik-debug-resizer{
	height:4px;
	line-height:4px;
	overflow: hidden;
	background-color: #94a0aa;
	color: #FFF;
	font-size: 8px;
	text-align: center;
	cursor: s-resize;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
a.vik-debug-tab{
	display: inline-block;
	padding: 2px 8px;
	color: black;
	font-size: 12px;
	text-decoration: none;
	background-color: #D8DDE6;
	border: outset 1px #BFC6CB;
	margin: 0px 2px;
}
a.vik-debug-tab.active{
	background-color: #F0F6FF;
	border: inset 1px #BFC6CB;
}
a.vik-debug-icon{
	display: block;
	float: right;
	margin: 0 2px;
	padding: 1px 4px;
	color: #000;
	font-size: 12px;
	background-color: #D8DDE6;
	border: outset 1px #BFC6CB;
	text-decoration: none;
}
a.vik-debug-icon:hover{
	text-decoration: none;
}
a.vik-debug-icon:active{
	border-style: inset;
}
#vik-debug-notifier{
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	z-index: 1000002;
	max-height: 7em;
	overflow-y: auto;
	background-color: #F3F5FB;
	border: solid 1px #BFC6CB;
	padding: 3px 10px;
	font-size: 12px;
	color: #000;
}
