
.vikoff-playlist-box .duration {
	position: relative;
	left: -15px;
}
.vikoff-playlist-item-box {
	float: right;
	position: relative;
}
a.vikoff-playlist-item {
	display: block;
	position: absolute;
	background-color: #597DA3;
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 11px;
	padding: 1px 3px;
	text-align: center;
	text-decoration: none;
	width: 6px;
	right: 0px;
	top: 4px;
	z-index: 1;
	content: "+";
}
.vikoff-playlist-item:hover{
	width: 42px;
	top: 0px;
	padding: 5px 3px;
	content: "playlist +";
}
.vikoff-playlist-item.vikoff-added{
	background-color: #CCCED4;
	content: "-";
}
.vikoff-playlist-item.vikoff-added:hover{
	content: "playlist -";
}
