a:active,a:focus{
	outline: none;
}
.green{
	color: green;
}
input[type="radio"].form-control,
input[type="checkbox"].form-control{
	width: auto;
	height: auto;
	margin-top: 12px;
}

.calltrace .item{
	font-family: monospace;
	font-size: 12px;
	color: #333;
}
.calltrace .item .row2{
	margin-left: 20px;
	font-size: 10px;
	color: #777;
}


/* default table */
.std-grid {
	background: #FFF;
}
.std-grid td,
.std-grid th {
	border: 1px solid #ddd;
	padding: 6px 8px;
	vertical-align: middle;
}
.std-grid.compact td,
.std-grid.compact th {
	padding: 2px 4px;
}
